<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LAFASHION Store - The best online shop</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}"type="text/css">
    </head>
    <body class="body-wrapper version1">
        <div id="preloader" class="smooth-loader-wrapper">
         <div class="preloader_container">
            <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>
     <div class="main-wrapper">
         <div class="header clearfix">
             <div class="topBar">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-6 d-none d-md-block">
                             <ul class="list-inline">
                                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                 <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                 <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                 <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                             </ul>
                         </div>
                         <div class="col-md-6 col-12">
                             <ul class="list-inline float-right top-right">
                                 <li class="account-login"><span><a data-toggle="modal" href='.login-modal'>Log in</a><small>or</small><a data-toggle="modal" href='#signup'>Create an account</a></span></li>
                                 <li class="searchBox">
                                     <a href="#"><i class="fa fa-search"></i></a>
                                     <ul class="dropdown-menu dropdown-menu-right">
                                         <li>
                                             <span class="input-group">
                                                 <input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                                                 <button type="submit" class="input-group-addon">Submit</button>
                                             </span>
                                         </li>
                                     </ul>
                                 </li>
                                 <li class="dropdown cart-dropdown">
                                     <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>$0</a>
                                     <ul class="dropdown-menu dropdown-menu-right">
                                         <li>Item(s) in your cart</li>
                                         <li>
                                             <a href="single-product.html">
                                                 <div class="media">
                                                     <img class="media-left media-object" src="img/home/cart-items/cart-item-01.jpg" alt="cart-Image">
                                                     <div class="media-body">
                                                         <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="single-product.html">
                                                 <div class="media">
                                                     <img class="media-left media-object" src="img/home/cart-items/cart-item-01.jpg" alt="cart-Image">
                                                     <div class="media-body">
                                                         <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <div class="btn-group" role="group" aria-label="...">
                                                 <button type="button" class="btn btn-default" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='cart-page.html';" data-cf-modified-3b1edaf6aa4dac3a48ae49df-="">Shopping Cart</button>
                                                 <button type="button" class="btn btn-default" onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='checkout-step-1.html';" data-cf-modified-3b1edaf6aa4dac3a48ae49df-="">Checkout</button>
                                             </div>
                                         </li>
                                     </ul>
                                 </li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>

















    </body>