<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link href="https://fonts.google.com/specimen/Niconne" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        body {
            background-color: #ffb5ba;
            color: #6d5850;
            margin-bottom: 20px;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="">New items</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Footwear <span class="sr-only">(current)</span></a>
            </li>
      <li class="nav-item">
        <a class="nav-link" href="/accessories" class="btn  btn-sm">Accessories</a>
      </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sport</a>
            </li>
      <li class="nav-item">
          <a class="nav-link" href="/" class="btn  btn-sm">Home</a>
      </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sale</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">For girls</a>
                    <a class="dropdown-item" href="#">For boys</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

            <a class="btn btn-outline-light my-4 my-sm-0" href="/login">Log in <span class="sr-only">(current)</span></a>
            <a class="btn btn-outline-light my-5 my-sm-0" href="">Basket<span class="sr-only">(current)</span> </a>
        </form>
    </div>\
</nav>
<body>
    <div class="site-blocks-cover inner-page aos-init aos-animate" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto order-md-2 align-self-start">
                    <div class="site-block-cover-content">
                        <h5 class="sub-title">#New Autumn Collection 2019</h5>
                        <h1>Arrivals Sales</h1>
                        <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
                    </div>
                </div>
                <div class="col-md-6 order-1 align-self-end">
                    <img src="{% static 'pictures/model.png' %}" class="img-fluid" alt="Image">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="title-section mb-5 col-12">
                <h2 class="text-uppercase">Popular Products</h2>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">

                    {% for products_image in products_images_men %}
                    <div class="col-lg-4">
                        <div class="product-item">
                            <div>
                                <a href="{% url 'page' products_image.product.id %}">
                                    <img src="{{ products_image.image.url }}" class="img-responsive" width="300" height="300">
                                </a>
                            </div>
                            {% if products_image.product.discount %}
                                <div class="discount-container">
                                    <span>{{ products_image.product.discount }}%</span>
                                </div>
                            {% endif %}
                            <h4>{{ products_image.product.name }}</h4>
                            <div>
                                {{ products_image.product.price }} USD
                            </div>
                            <div class="add-to-card-btn">
                                <button class="btn btn-success">
                                    Add to Shopping Cart
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</body>
</html>