{% extends 'index.html' %}
{% load static %}

{% block content %}
<!--<LINK rel="stylesheet" href="{% static 'forimage/css/template.css' %}" type="text/css" />-->
<SCRIPT type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></SCRIPT>
<!--<SCRIPT type="text/javascript" src="{% static 'forimage/js/popup_img.js' %}"></SCRIPT>-->
<script>
    $(document).ready(function() {
	$(".image").click(function(){
	  	var img = $(this);
		var src = img.attr('src');
		$("body").append("<div class='popup'>"+
						 "<div class='popup_bg'></div>"+
						 "<img src="+src+" class='popup_img' />"+
						 "</div>");
		$(".popup").fadeIn(800);
		$(".popup_bg").click(function(){
			$(".popup").fadeOut(800);
			setTimeout(function() {
			  $(".popup").remove();
			}, 800);
		});
	});

});
</script>

<!--<link rel="stylesheet" type="text/css" href="{% static 'photostyle/stylephoto.css' %}">-->
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins');
body, html{
  margin: 0;
  background: #2b2927;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
  color:white;
}
#photos{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
#imgid{
    width: 100%;
    height:200%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}

#photosid{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}

.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%)
}
#photosid:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
#photosid:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    #photosid {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    #photosid {
        width: 100%;
    }
}
﻿body {
	margin:0;
}
</style>

<style>
.popup {
    padding-top:100px;
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
    padding-top:100px;
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
    padding-top:100px;
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
}
</style>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><br/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Kazakhstan Professional Football League</h1>
<div class="container-all" id="photos">
<div class="col-md-15">
    <div class="row">
    {% for photo in photos %}

    <div class="container" id="photosid">
        <img src="{{ photo.photo.url }}" alt=""  class="image">
    </div>

    {% endfor %}
             </div>
    </div>

</div>
{% endblock %}